<h3 style="text-align: left; background-color: #e0e0e0; font-family:Times New Roman; color: black; padding: 14px; line-height: 1; border-radius:10px">Modifier un objet</h3>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Dataset_Employes.xlsx")
df

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Ancienneté_an,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age
0,1,CDI,35,9894.7000,13,0.0,0.0,22.5,69,Technicien,60,Cadre,46
1,2,CDI,35,4296.7167,39,0.0,1.0,10.8,32,Technicien,39,Non Cadre,55
2,3,CDI,35,3705.2167,29,1.0,1.0,13.0,68,RH,62,Cadre,52
3,4,CDI,35,1697.1500,17,1.0,0.0,21.7,59,Technicien,98,Non Cadre,58
4,5,CDD,35,2848.3000,15,1.0,0.0,3.3,15,R&D,81,Non Cadre,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,252,CDI,35,7304.2667,17,1.0,0.0,7.9,59,Technicien,34,Cadre,41
250,253,CDI,35,8328.0167,14,1.0,0.0,10.2,59,Compta Finances,60,Cadre,51
251,254,CDI,32,8860.8000,19,1.0,1.0,11.9,65,RH,59,Cadre,48
252,255,CDI,24,4974.3200,32,0.0,1.0,11.8,31,Commercial,66,Cadre,65
253,256,CDD,35,6583.8500,13,1.0,1.0,12.6,59,Marketing,67,Cadre,56

In [3]:
# Modifier un élément du tableau
df.at[0, 'Contrat'] = "CDD"
df

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Ancienneté_an,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age
0,1,CDD,35,9894.7000,13,0.0,0.0,22.5,69,Technicien,60,Cadre,46
1,2,CDI,35,4296.7167,39,0.0,1.0,10.8,32,Technicien,39,Non Cadre,55
2,3,CDI,35,3705.2167,29,1.0,1.0,13.0,68,RH,62,Cadre,52
3,4,CDI,35,1697.1500,17,1.0,0.0,21.7,59,Technicien,98,Non Cadre,58
4,5,CDD,35,2848.3000,15,1.0,0.0,3.3,15,R&D,81,Non Cadre,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,252,CDI,35,7304.2667,17,1.0,0.0,7.9,59,Technicien,34,Cadre,41
250,253,CDI,35,8328.0167,14,1.0,0.0,10.2,59,Compta Finances,60,Cadre,51
251,254,CDI,32,8860.8000,19,1.0,1.0,11.9,65,RH,59,Cadre,48
252,255,CDI,24,4974.3200,32,0.0,1.0,11.8,31,Commercial,66,Cadre,65
253,256,CDD,35,6583.8500,13,1.0,1.0,12.6,59,Marketing,67,Cadre,56

In [4]:
# Créer une nouvelle colonne
df['Ratio_satisfaction']=df['Niveau de satisfaction']/100
df

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Ancienneté_an,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age,Ratio_satisfaction
0,1,CDD,35,9894.7000,13,0.0,0.0,22.5,69,Technicien,60,Cadre,46,0.60
1,2,CDI,35,4296.7167,39,0.0,1.0,10.8,32,Technicien,39,Non Cadre,55,0.39
2,3,CDI,35,3705.2167,29,1.0,1.0,13.0,68,RH,62,Cadre,52,0.62
3,4,CDI,35,1697.1500,17,1.0,0.0,21.7,59,Technicien,98,Non Cadre,58,0.98
4,5,CDD,35,2848.3000,15,1.0,0.0,3.3,15,R&D,81,Non Cadre,39,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,252,CDI,35,7304.2667,17,1.0,0.0,7.9,59,Technicien,34,Cadre,41,0.34
250,253,CDI,35,8328.0167,14,1.0,0.0,10.2,59,Compta Finances,60,Cadre,51,0.60
251,254,CDI,32,8860.8000,19,1.0,1.0,11.9,65,RH,59,Cadre,48,0.59
252,255,CDI,24,4974.3200,32,0.0,1.0,11.8,31,Commercial,66,Cadre,65,0.66
253,256,CDD,35,6583.8500,13,1.0,1.0,12.6,59,Marketing,67,Cadre,56,0.67

In [5]:
# Renommer une colonne
df.rename(columns={'Ancienneté_an': 'Annnée_Ancienneté'}, inplace=True)
df

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Annnée_Ancienneté,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age,Ratio_satisfaction
0,1,CDD,35,9894.7000,13,0.0,0.0,22.5,69,Technicien,60,Cadre,46,0.60
1,2,CDI,35,4296.7167,39,0.0,1.0,10.8,32,Technicien,39,Non Cadre,55,0.39
2,3,CDI,35,3705.2167,29,1.0,1.0,13.0,68,RH,62,Cadre,52,0.62
3,4,CDI,35,1697.1500,17,1.0,0.0,21.7,59,Technicien,98,Non Cadre,58,0.98
4,5,CDD,35,2848.3000,15,1.0,0.0,3.3,15,R&D,81,Non Cadre,39,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,252,CDI,35,7304.2667,17,1.0,0.0,7.9,59,Technicien,34,Cadre,41,0.34
250,253,CDI,35,8328.0167,14,1.0,0.0,10.2,59,Compta Finances,60,Cadre,51,0.60
251,254,CDI,32,8860.8000,19,1.0,1.0,11.9,65,RH,59,Cadre,48,0.59
252,255,CDI,24,4974.3200,32,0.0,1.0,11.8,31,Commercial,66,Cadre,65,0.66
253,256,CDD,35,6583.8500,13,1.0,1.0,12.6,59,Marketing,67,Cadre,56,0.67

In [7]:
# Supprimer une colonne
df = df.drop(columns=['Niveau de satisfaction', 'id_salarié'])
df

,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Annnée_Ancienneté,Distance domicile/Travail,Service,Type Contrat,Age,Ratio_satisfaction
0,CDD,35,9894.7000,13,0.0,0.0,22.5,69,Technicien,Cadre,46,0.60
1,CDI,35,4296.7167,39,0.0,1.0,10.8,32,Technicien,Non Cadre,55,0.39
2,CDI,35,3705.2167,29,1.0,1.0,13.0,68,RH,Cadre,52,0.62
3,CDI,35,1697.1500,17,1.0,0.0,21.7,59,Technicien,Non Cadre,58,0.98
4,CDD,35,2848.3000,15,1.0,0.0,3.3,15,R&D,Non Cadre,39,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...
249,CDI,35,7304.2667,17,1.0,0.0,7.9,59,Technicien,Cadre,41,0.34
250,CDI,35,8328.0167,14,1.0,0.0,10.2,59,Compta Finances,Cadre,51,0.60
251,CDI,32,8860.8000,19,1.0,1.0,11.9,65,RH,Cadre,48,0.59
252,CDI,24,4974.3200,32,0.0,1.0,11.8,31,Commercial,Cadre,65,0.66
253,CDD,35,6583.8500,13,1.0,1.0,12.6,59,Marketing,Cadre,56,0.67

In [8]:
# Modifier des valeurs
df['Type Contrat'] = df['Type Contrat'].replace('Non Cadre', 'Technicien')
df

,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Annnée_Ancienneté,Distance domicile/Travail,Service,Type Contrat,Age,Ratio_satisfaction
0,CDD,35,9894.7000,13,0.0,0.0,22.5,69,Technicien,Cadre,46,0.60
1,CDI,35,4296.7167,39,0.0,1.0,10.8,32,Technicien,Technicien,55,0.39
2,CDI,35,3705.2167,29,1.0,1.0,13.0,68,RH,Cadre,52,0.62
3,CDI,35,1697.1500,17,1.0,0.0,21.7,59,Technicien,Technicien,58,0.98
4,CDD,35,2848.3000,15,1.0,0.0,3.3,15,R&D,Technicien,39,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...
249,CDI,35,7304.2667,17,1.0,0.0,7.9,59,Technicien,Cadre,41,0.34
250,CDI,35,8328.0167,14,1.0,0.0,10.2,59,Compta Finances,Cadre,51,0.60
251,CDI,32,8860.8000,19,1.0,1.0,11.9,65,RH,Cadre,48,0.59
252,CDI,24,4974.3200,32,0.0,1.0,11.8,31,Commercial,Cadre,65,0.66
253,CDD,35,6583.8500,13,1.0,1.0,12.6,59,Marketing,Cadre,56,0.67